* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Nicla Font";
  color: #256dbe;
}
h1 {
  max-width: 500px;
  font: size 70px;
  font-weight: bold;
}

.wrapper {
  max-width: 1440px;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.restart {
  width: 175px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 2px solid #256dbe;
  transition: all 0.2s ease;
  cursor: pointer;
  font-weight: bold;
  margin-top: 30px;
}

.restart:hover {
  background-color: #256dbe;
  color: white;
  cursor: pointer;
}

.head {
  display: flex;
  color: #638ec0;
  font-size: 24px;
}

.head .player-O {
  flex: 1;
  border-bottom: 3px solid #eee;
  padding-bottom: 8px;
}

.head .player-X {
  flex: 1;
  border-bottom: 3px solid #eee;
  padding-bottom: 8px;
}

.game {
  font-family: "Haisley Mind Font";
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  margin-left: 50px;
}

.table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0px;
  flex-grow: 1;
  padding: 10px;
}

.board-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  background-color: white;
  flex-grow: 1;
  cursor: pointer;
}

.board-tile:not(:nth-child(3n)) {
  border-right: 3px solid rgba(137, 163, 189, 0.58);
}

.board-tile:first-child {
  border-top-left-radius: 15%;
}
.board-tile:nth-child(3) {
  border-top-right-radius: 15%;
}
.board-tile:nth-child(9) {
  border-bottom-right-radius: 15%;
}
.board-tile:nth-child(7) {
  border-bottom-left-radius: 15%;
}

.board-tile:not(:nth-last-child(-n + 3)) {
  border-bottom: 3px solid rgba(137, 163, 189, 0.58);
}

.board-tile:hover {
  background-color: #eee;
}

#jeux {
  margin-right: 50px;
  display: flex;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  padding: 80px;
}

.win {
  transition: all 2s ease;
  background-color: rgb(169, 241, 214);
}

.player-X.turnX {
  border-bottom: 3px solid #42bed7;
  color: #42bed7;
}

.player-O.turnO {
  border-bottom: 3px solid #d7b;
  color: #d7b;
}

.X {
  color: #54defa;
}

.O {
  color: rgb(241, 53, 216);
}

.player-O > span {
  font-family: "cascadia code";
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-X > span {
  font-family: "cascadia code";
  display: flex;
  justify-content: center;
  align-items: center;
}
